body {
    font-family: Arial, sans-serif;
   
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: white;
   
}
.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav-links li {
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.nav-links li:hover {
    color: black;
    
}
.social-icons{
    display: flex;
    gap: 20px;
    font-size: 30px;
    
}
.resume-button {
    background-color: black;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    
}
.hero-section {
    display: flex;
   
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background: white;
}
.hero-text {
    max-width: 600px;
}
.hero-image img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.social-icons > i{
border: 1px solid black;
border-radius: 5px;
}
@media (min-width: 768px) {
    .hero-section {
        flex-direction: row;
        gap: 30px;
    }
    .hero-text {
        text-align: left;
    }
}
.skills-section {
    text-align: center;
    padding: 50px;
    background: white;
}
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: auto;
}
.skill-box {
    background: white;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
}
.skill-box:hover {
    background: black;
    color: white;
}
.experience-section {
    background: black;
    color: white;
    padding: 50px;
    text-align: center;
}
.experience-container {
    max-width: 900px;
    margin: auto;
}
.experience-box {
    background: #222;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    text-align: left;
}
.experience-box h3 {
    margin: 0;
}
.experience-box p {
    margin: 10px 0 0;
    color: #bbb;
}